<br>
<br>
<div class="card">
    <div class="card-body">
        <main class="form-signin">
        <form>
            
            <h1 class="h3 mb-3 fw-normal">Forgot Password</h1>
            <label for="inputEmail" class="visually-hidden">Email address</label>
            <input type="email" id="inputEmail" name="email"class="form-control" placeholder="Email address"  required autofocus ngModel>
            
            <button class="w-100 btn btn-lg btn-primary" routerLink="login" type="submit">Sign in</button>
            <br>
          </form>
          </main>
    </div>
</div>